<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href='css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href='css/styles.css' rel='stylesheet' type='text/css'>
    <title>Word Frequency</title>
</head>
<body>
    <div class='container'>
        <h1>Word Frequency</h1>
        <h3>
            {% if result > 1 %}
            You repeated the word {{ result }} times!
            {% elseif result == 1 %}
            You repeated the word only once!
            {% else %}
            Please take this seriously!
            {% endif %}
        </h3>
        <form action='/' method='get'>
            <br>
            <button type='submit' class='btn btn-lg btn-default'>Back</button>
        </form>
    </div>
</body>
</html>
